<div class="row">
    <div class="col-4">
        <app-filter 
            (searchEmitter)="applyFilter($event)"
            (applyEmitter)="applyFilter()">
        </app-filter>
    </div>
    <div class="col-8">
        <ng-container *ngIf="hasNews">

            <div class="row">
                <pagination
                    [totalItems]="totalItems"
                    [(ngModel)]="currentPage"
                    (pageChanged)="pageChange($event)">
                </pagination>
            </div>

            <div class="row">
                <div class="col" *ngFor="let data of news.articles">
                    <article class="card" style="width: 24rem; margin: 0px 0px;">
                        <a href="{{data.url}}" target="_blank">
                            <img src="{{data.urlToImage}}" class="card-img-top" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{data.url}}" class="text-dark" target="_blank">{{data.title}}</a>
                            </h5>
                            <p class="card-text">{{data.author}}</p>
                            <p class="card-text">{{data.description}}</p>
                            <p class="card-text">
                                <span class="badge badge-info">{{data.publishedAt | date }}</span>
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <pagination
                    [totalItems]="totalItems"
                    [(ngModel)]="currentPage"
                    (pageChanged)="pageChange($event)">
                </pagination>
            </div>
        </ng-container>
        
    </div>
</div>

