<div class="row">
    <div class="col-6 col-lg-6 col-md-12 col-sm-12 form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" #searchInput>
    </div>
</div>

<div class="row">
    <div class="col-6 col-lg-6 col-md-12 col-sm-12 form-group">
        <label for="category">Category:</label>
        <ng-select 
            id="category"
            class="col-12"
            placeholder="Select category"
            [(ngModel)]="selectedCategoryId"
            (change)="categoryChange($event)"
            [items]="categories" 
            bindLabel="name" 
            bindValue="id">
        </ng-select>
    </div>
</div>

<div class="row">
    <div class="col-6 col-lg-6 col-md-12 col-sm-12 form-group">
        <label for="country">Country:</label>
        <ng-select 
            id="country"
            class="col-12"
            placeholder="Select country"
            [(ngModel)]="selectedCountryId"
            (change)="countryChange($event)"
            [items]="countries" 
            bindLabel="name" 
            bindValue="id">
        </ng-select>
    </div>
</div>
<div class="row">
    <div class="col-6 col-lg-6 col-md-12 col-sm-12 form-group">
        <button type="button" class="btn btn-primary col" (click)="reset()">Reset</button>
    </div>
</div>