
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">I hope you enjoyed my test project. <br> Thank you for your time !</h1>
                <br>
                <p class="lead">
                        <a 
                            class="btn btn-outline-success"
                            href="https://drive.google.com/open?id=1xQmsJi71xhQup_0xnDPAk4lPwaaYj1ovGfkpCimDdLk"
                            target="_blank"
                            >My Resume</a>
                </p>
            </div>
        </div>
    </div>
</div>
