

<div class="row">
    <div class="col">

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Hello</h1>
                <p class="lead">This is a simple test project. Which displays news using api and filter</p>
                <hr class="my-4"> 
                <p class="lead">
                    <a class="btn btn-dark btn-lg" href="#" routerLink="/news" role="button">Go to News</a>
                </p>
            </div>
        </div>

    </div>
</div>