<app-header-nav></app-header-nav>

<div class="container-fluid mt-5">
    <router-outlet></router-outlet>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <a href="https://newsapi.org/" target="_blank">Powered by News API</a>
        </div>
    </div>
</div>